{# src\Devschool\AdminBundle\Resources\views\Film\list.html.twig #}
<h1>Liste des genres :</h1>
<ul>
    {% for genre in genres %}
        <li><a href="{{ path('admin_genre_modif', {'id': genre.id}) }}">{{ genre.nom }}</a>
            <a href="{{ path('admin_genre_supprimer', {'id': genre.id}) }}">(x)</a>
        </li>
    {% endfor %}
</ul>
<a href="{{ path('admin_genre_ajout') }}">Ajouter</a>